<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
        <div class="usa-navbar">
            <div class="usa-logo" id="-logo">
                <i class="fa fa-bars"></i>&nbsp;&nbsp;<img src="/assets/img/usa-icons-bg/baygrape.png">
            </div>
        </div>
        <nav aria-label="Primary navigation" class="usa-nav">
            <section aria-label="Search component">
                <form class="usa-search usa-search--small" role="search">
                    <label class="usa-sr-only" for="search-field">Search</label>
                    <input class="usa-input" id="search-field" type="search" name="search" />
                    <button class="usa-button" type="submit">
                        <img src="/assets/img/usa-icons-bg/search--white.png" class="usa-search__submit-icon"
                            alt="Search" />
                    </button>
                </form>
            </section>&nbsp;&nbsp;&nbsp;
            <ul class="usa-nav__primary usa-accordion" style="padding-left: 10px;">
                <a class="nav-link" href="#" id="navbar" aria-haspopup="true" aria-expanded="false">
                    <img src="/assets/img/usa-icons-bg/images.jpg" width="50" height="50" style="border-radius:50%"></a>
                <p style="padding-left: 3px;">John Due<br> Product Manager</p>
            </ul>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="" class="usa-button">LogOut</button>

        </nav>
    </div>
</header>
<div class="grid-row grid-gap">
    <div class="tablet:grid-col-1 margin-bottom-4 tablet:margin-bottom-0" style="padding-left: 20px;">
        <nav aria-label="Side navigation,">
            <ul class="usa-sidenav">
                <li class="usa-sidenav__item">
                    <a href="javascript:void(0);" class="usa-current"><img src="/assets/img/usa-icons-bg/sprite.png"
                            style="padding-left: 7px;"><br>Home</a>
                    <a href="javascript:void(0);"><img src="/assets/img/usa-icons-bg/time.jpg"
                            style="padding-left: 7px;"><br>Tracker</a>
                </li>
                <li class="usa-sidenav__item">
                    <a href="javascript:void(0);"><img src="/assets/img/usa-icons-bg/user.jpg"
                            style="padding-left: 5px;"><br>Team</a>
                    <a href="javascript:void(0);"><img src="/assets/img/usa-icons-bg/pproject.jpg"
                            style="padding-left: 7px;">Project</a>
                    <a href="javascript:void(0);"><img src="/assets/img/usa-icons-bg/timesheet.jpg"
                            style="padding-left: 9px;"><br>TimeSheet</a>
                    <a href="javascript:void(0);"><img src="/assets/img/usa-icons-bg/attendence.jpg"
                            style="padding-left: 19px;"><br>Attendence</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="tablet:grid-col  margin-bottom-4 tablet:margin-bottom-0">
        <ul class="usa-card-group">
            <li class="usa-card tablet:grid-col-12">
                <div class="usa-card__container">
                    <div class="usa-card__header">
                        <h2 class="usa-card__heading">Edit Information
                            <button class="usa-button"
                                style="color: rgb(58, 58, 67); background-color:rgb(12, 87, 125); border-radius: 10%; color: white; float:right ;">
                                Update</button>
                        </h2>
                    </div>
                    <div class="usa-card__body">
                        <br>
                        <div class="grid-row grid-gap">
                            <div class="tablet:grid-col-6  margin-bottom-4 tablet:margin-bottom-0"
                                style="padding-left: 30px;">
                                <img src="/assets/img/usa-icons-bg/images.jpg" style="border-radius: 10% ; "
                                    width="550px">
                                <button class="usa-button" type="submit"
                                    style="width: 550px; border-radius: 0.2rem;">Upload Photo</button>
                                <br>
                                <h3>Current Project(s)</h3>
                                <button class="usa-button usa-button--accent-cool"
                                    style="background-color: rgb(192, 246, 192); color: rgb(43, 246, 43);">DoroNow <i
                                        class="fa fa-close" style="color: rgb(169, 169, 169);"></i></button>
                                <button class="usa-button usa-button--accent-cool"
                                    style="background-color: rgb(192, 246, 192); color: rgb(43, 246, 43);">Tracking <i
                                        class="fa fa-close" style="color: rgb(169, 169, 169);"></i></button><br>
                                <input class="usa-input" id="input-type-text" name="input-type-text"
                                    placeholder="Type project name and enter" />
                                <br>
                                <h3>Previous Project(s)</h3>
                                <button class="usa-button usa-button--accent-cool"
                                    style="background-color: rgb(176, 177, 176); color: rgb(121, 123, 121);">BayGrape <i
                                        class="fa fa-close" style="color: rgb(93, 92, 92);"></i></button>
                                <button class="usa-button usa-button--accent-cool"
                                    style="background-color: rgb(176, 177, 176); color: rgb(121, 123, 121);">BayPay <i
                                        class="fa fa-close" style="color: rgb(93, 92, 92);"></i></button><br>
                                <input class="usa-input" id="input-type-text" name="input-type-text"
                                    placeholder="Type project name and enter" />
                                
                                <h3>Skills</h3>
                                <button class="usa-button usa-button--accent-cool"
                                    style="background-color: rgb(155, 202, 240); color: rgb(55, 155, 249);">React.JS <i
                                        class="fa fa-close" style="color: rgb(169, 169, 169);"></i></button>
                                <button class="usa-button usa-button--accent-cool"
                                    style="background-color: rgb(155, 202, 240);color: rgb(55, 155, 249);">Javascript <i
                                        class="fa fa-close" style="color: rgb(169, 169, 169);"></i></button>
                                <br><br>
                                <button class="usa-button usa-button--accent-cool"
                                    style="background-color: rgb(155, 202, 240);color: rgb(55, 155, 249);">UX/UI <i
                                        class="fa fa-close" style="color: rgb(169, 169, 169);"></i></button>
                                <button class="usa-button usa-button--accent-cool"
                                    style="background-color: rgb(155, 202, 240); color: rgb(55, 155, 249);">.Net <i
                                        class="fa fa-close" style="color: rgb(169, 169, 169);"></i></button><br>
                                <input class="usa-input" id="input-type-text" name="input-type-text"
                                    placeholder="Type Skill and enter" />
                            </div>
                            <div class="tablet:grid-col-6  margin-bottom-4 tablet:margin-bottom-0">

                                <h1 style="color: rgb(108, 186, 249); padding-top: 182px;"><input class="usa-input"
                                        id="input-type-text" name="input-type-text" placeholder="John Doe" /></h1>
                                <h4><input class="usa-input" id="input-type-text" name="input-type-text"
                                        placeholder="Project Manager" /></h4>
                                <b><input class="usa-input" id="input-type-text" name="input-type-text"
                                        placeholder="https://in.linkedin.com/in/john-doe" /></b><br>
                                <hr style="color: black;">
                                <h4 style="padding-top:19px ;"><label class="usa-label" id="date-of-join-label" for="date-of-join"
                                    >Date Of Joining</label
                                  ></h4>
                                <div class="usa-date-picker">
                                    <input class="usa-input" id="date-of-join" name="date-of-join"
                                        aria-labelledby="date-of-join-label"
                                        aria-describedby="date-of-join-hint" placeholder="05/16/2022" />
                                </div><br>
                                <h4><label class="usa-label" id="date-of-join-label" for="date-of-join"
                                    >Date of Birth</label></h4>
                                <div class="usa-date-picker">
                                    <input class="usa-input" id="date-of-birth" name="date-of-birth"
                                        aria-labelledby="date-of-birth-label"
                                        aria-describedby="date-of-birth-hint" placeholder="06/19/2022" />
                                </div>
                                <h3>Credentials</h3>
                                <input class="usa-input" id="input-type-text" name="input-type-text"
                                    placeholder="Email Id: john.doe@baygrape.in" />
                                <!-- <p>Email Id: john.doe@baygrape.inn</p> -->
                                <input class="usa-input" id="input-type-text" name="input-type-text"
                                    placeholder="Password:#Johndoe@123" />
                                <!-- <p>Password: *************<i class="fa fa-eye-slash" style="padding-left: 55px;"></i>
                                </p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>