<!-- <p>comman works!</p> -->
<header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
        <div class="usa-navbar">
            <div class="usa-logo" id="-logo">
                <img src="/assets/img/usa-icons-bg/baygrape.png">
            </div>
        </div>
        <nav aria-label="Primary navigation" class="usa-nav" >
            <section aria-label="Search component">
                <form class="usa-search usa-search--small" role="search">
                    <label class="usa-sr-only" for="search-field">Search</label>
                    <input class="usa-input" id="search-field" type="search" name="search" />
                    <button class="usa-button" type="submit">
                        <img src="/assets/img/usa-icons-bg/search--white.png" class="usa-search__submit-icon"
                            alt="Search" />
                    </button>
                </form>
            </section>
            <ul class="usa-nav__primary usa-accordion" style="padding-left: 10px;">
                <a class="nav-link" href="#" id="navbar" aria-haspopup="true" aria-expanded="false">
                    <img src="/assets/img/usa-icons-bg/images.jpg" width="50" height="50" style="border-radius:50%"></a>
                <p style="padding-left: 3px;">John Due<br> Product Manager</p>
            </ul>&nbsp;&nbsp;
            <button type="" class="usa-button">LogOut</button>

        </nav>
    </div>
</header>
<div class="grid-row grid-gap">
    <div class="tablet:grid-col-1 margin-bottom-4 tablet:margin-bottom-0">
        <nav aria-label="Side navigation,">
            <ul class="usa-sidenav">
                <li class="usa-sidenav__item">
                    <a href="javascript:void(0);" class="usa-current"><img src="/assets/img/usa-icons-bg/sprite.png"><br>Home</a>
                    <a href="javascript:void(0);"><img src="/assets/img/usa-icons-bg/time.jpg"><br>Tracker</a>
                </li>
                <li class="usa-sidenav__item">
                    <a href="javascript:void(0);"><img src="/assets/img/usa-icons-bg/user.jpg"><br>Team</a>
                    <a href="javascript:void(0);"><img src="/assets/img/usa-icons-bg/pproject.jpg">Project</a>
                    <a href="javascript:void(0);"><img src="/assets/img/usa-icons-bg/timesheet.jpg"><br>TimeSheet</a>
                    <a href="javascript:void(0);"><img src="/assets/img/usa-icons-bg/attendence.jpg"><br>Attendence</a>
                </li>

            </ul>
        </nav>
    </div>
    <!-- <div class="tablet:grid-col-4">
      hjhhj
    </div> -->
</div>
