<div class="grid-row grid-gap">
    <div class="tablet:grid-col-8  margin-bottom-4 tablet:margin-bottom-0">
        <div class="grid-row grid-gap">
            <div class="tablet:grid-col-4  margin-bottom-4 tablet:margin-bottom-0">
                <h3>All <b style="color: blue;">Projects</b></h3>
                <ul class="usa-card-group">
                    <li class="usa-card tablet:grid-col-12">
                        <div class="usa-card__container">
                            <br>
                            <p class="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fa fa-circle" style="color: rgb(155, 202, 240);"></i><br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Client A <br>Project-Time tracking</p>                            
                            <hr>
                            <p class="center"> <i class="fa fa-user fa-2xl" [routerLink]="['/addmemproject']" routerLinkActive="router-link-active"></i> &nbsp; <button type=""
                                    class="usa-button usa-button--outline"
                                    style="background-color: rgb(178, 200, 250);">View
                                    Info</button></p>
                        </div>
                    </li>
                    <br>
                    <li class="usa-card tablet:grid-col-12">
                        <div class="usa-card__container">
                            <br>
                            <p class="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fa fa-circle " style="color: rgb(169, 240, 155);"></i><br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Client D <br>Project Lorem Ipsum</p>   
                            <hr>
                            <p class="center"> <i class="fa fa-user fa-2xl" [routerLink]="['/addmemproject']" routerLinkActive="router-link-active"></i> &nbsp; <button type=""
                                    class="usa-button usa-button--outline"
                                    style="background-color: rgb(178, 200, 250);">View
                                    Info</button></p>
                        </div>
                    </li>
                    <br>
                    <li class="usa-card tablet:grid-col-12">
                        <div class="usa-card__container">
                            <br>
                            <p class="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fa fa-circle " style="color: rgb(169, 240, 155);"></i><br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Client C <br>Project Lorem Ipsum</p>   
                            <hr>
                            <p class="center"> <i class="fa fa-user fa-2xl" [routerLink]="['/addmemproject']" routerLinkActive="router-link-active"></i> &nbsp; <button type=""
                                    class="usa-button usa-button--outline"
                                    style="background-color: rgb(178, 200, 250);">View
                                    Info</button></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tablet:grid-col-4  margin-bottom-4 tablet:margin-bottom-0">
                <button class="usa-button" type="submit" *ngIf="isAdmin" [routerLink]="['/addproject']"
                    routerLinkActive="router-link-active"> + Add Project</button><br><br>
                <ul class="usa-card-group">
                    <li class="usa-card tablet:grid-col-12">
                        <div class="usa-card__container">
                            <br>
                            <p class="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fa fa-circle " style="color: rgb(196, 233, 248);"></i><br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Client B <br>Project Lorem Ipsum</p>   
                            <hr>
                            <p class="center"> <i class="fa fa-user fa-2xl" [routerLink]="['/addmemproject']" routerLinkActive="router-link-active"></i> &nbsp; <button type=""
                                    class="usa-button usa-button--outline"
                                    style="background-color: rgb(178, 200, 250);">View
                                    Info</button></p>
                        </div>
                    </li>
                    <br>
                    <li class="usa-card tablet:grid-col-12">
                        <div class="usa-card__container">
                            <br><p class="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fa fa-circle" style="color: rgb(155, 202, 240);" [routerLink]="['/addmemproject']" routerLinkActive="router-link-active"></i><br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Client E <br>Project Lorem Ipsum</p>
                            
                            <hr>
                            <p class="center"> <i class="fa fa-user fa-2xl"></i> &nbsp; <button type=""
                                    class="usa-button usa-button--outline"
                                    style="background-color: rgb(178, 200, 250);">View
                                    Info</button></p>
                        </div>
                    </li><br>
                    <li class="usa-card tablet:grid-col-12">
                        <div class="usa-card__container">
                            <br><p class="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fa fa-circle" style="color: rgb(155, 202, 240);"></i><br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Client A <br>Project-Time tracking</p>
                            <hr>
                            <p class="center"> <i class="fa fa-user fa-2xl" [routerLink]="['/addmemproject']" routerLinkActive="router-link-active"></i> &nbsp; <button type=""
                                    class="usa-button usa-button--outline"
                                    style="background-color: rgb(178, 200, 250);">View
                                    Info</button></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tablet:grid-col-4  margin-bottom-4 tablet:margin-bottom-0">
                <button class="usa-button usa-button--outline" [routerLink]="['/removeproject']"
                    routerLinkActive="router-link-active" type="submit" style="background-color: white; color:red;"
                    *ngIf="isAdmin"> - Remove Project</button><br><br>
                <ul class="usa-card-group">
                    <li class="usa-card tablet:grid-col-12">
                        <div class="usa-card__container">
                            <br>
                            <p class="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fa fa-circle " style="color: rgb(169, 240, 155);"></i><br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Client C <br>Project Lorem Ipsum</p>   
                            <hr>
                            <p class="center"> <i class="fa fa-user fa-2xl" [routerLink]="['/addmemproject']" routerLinkActive="router-link-active"></i> &nbsp; <button type=""
                                    class="usa-button usa-button--outline"
                                    style="background-color: rgb(178, 200, 250);">View
                                    Info</button></p>
                        </div>
                    </li><br>
                    <li class="usa-card tablet:grid-col-12">
                        <div class="usa-card__container">
                            <br>
                            <p class="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fa fa-circle " style="color: rgb(196, 233, 248);"></i><br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Client F <br>Project Lorem Ipsum</p>   
                            <hr>
                            <p class="center"> <i class="fa fa-user fa-2xl" [routerLink]="['/addmemproject']" routerLinkActive="router-link-active"></i> &nbsp; <button type=""
                                    class="usa-button usa-button--outline"
                                    style="background-color: rgb(178, 200, 250);">View
                                    Info</button></p>
                        
                        </div>
                    </li><br>
                    <li class="usa-card tablet:grid-col-12">
                        <div class="usa-card__container">
                            <br>
                            <p class="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fa fa-circle " style="color: rgb(196, 233, 248);"></i><br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Client B <br>Project Lorem Ipsum</p>   
                            <hr>
                            <p class="center"> <i class="fa fa-user fa-2xl" [routerLink]="['/addmemproject']" routerLinkActive="router-link-active"></i> &nbsp; <button type=""
                                    class="usa-button usa-button--outline"
                                    style="background-color: rgb(178, 200, 250);">View
                                    Info</button></p>
                        
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <i class="fa fa-circle" style="color: rgb(155, 202, 240);"></i> Initial
        <i class="fa fa-circle " style="color: rgb(169, 240, 155);"></i> Middle
        <i class="fa fa-circle " style="color: rgb(196, 233, 248);"></i> Final
    </div>
    
    <div class="tablet:grid-col-4  margin-bottom-4 tablet:margin-bottom-0" style="float: right;">
        <section aria-label="Search component">
            <form class="usa-search usa-search--small" role="search">
                <label class="usa-sr-only" for="search-field">Search</label>
                <input class="usa-input" id="search-field" type="search" name="search" />
                <button class="usa-button" type="submit">
                    <img src="/assets/img/usa-icons-bg/search--white.png" class="usa-search__submit-icon"
                        alt="Search" />
                </button>
            </form>
        </section><br>
        <ul class="usa-card-group">
            <li class="usa-card tablet:grid-col-12">
                <div class="usa-card__container">
                    <div class="usa-card__header"><h2>Project Information</h2>
                        <div class="grid-row grid-gap">
                            <div class="tablet:grid-col-6  margin-bottom-4 tablet:margin-bottom-0"><h3>Client Name</h3><hr></div>
                            <div class="tablet:grid-col-6  margin-bottom-4 tablet:margin-bottom-0"><h3>Project Info</h3><hr></div>
                            <p style="padding-left: 30px;">Client A, California, USA</p>
                        </div>
                        <hr>
                    </div>
                    <div class="usa-card__media">
                        <div class="usa-card__img">
                            <h2 class="usa-card__heading"><button class="usa-button" style="width: 100%; padding-left: 2px;">001-BG-Internal</button></h2>
                        </div>
                    </div>
                    <div class="usa-card__body">
                        <h3> Project Lead</h3>
                        <button class="usa-button usa-button--accent-cool"
                            style="background-color: rgb(192, 246, 192); color: rgb(43, 246, 43);">John Doe</button>
                        <br>
                        <h3>Previous Project(s)</h3>
                        <button class="usa-button usa-button--accent-cool"
                            style="background-color: rgb(176, 177, 176); color: rgb(121, 123, 121);">Lorem J</button>
                        <button class="usa-button usa-button--accent-cool"
                            style="background-color: rgb(176, 177, 176); color: rgb(121, 123, 121);">Ipsum</button>
                        <br><br>
                        <button class="usa-button usa-button--accent-cool"
                            style="background-color: rgb(176, 177, 176); color: rgb(121, 123, 121);">Dummy</button>
                        <button class="usa-button usa-button--accent-cool"
                            style="background-color: rgb(176, 177, 176); color: rgb(121, 123, 121);">Content</button>
                        <hr>
                        <h4>Start Date</h4>
                        16 May 2022
                        <h4>End Date</h4>
                        16 December 2022
                        <hr>
                        <h3>Technologies</h3>
                        <button class="usa-button usa-button--accent-cool"
                            style="background-color: rgb(155, 202, 240); color: rgb(55, 155, 249);">React.JS</button>
                        <button class="usa-button usa-button--accent-cool"
                            style="background-color: rgb(155, 202, 240);color: rgb(55, 155, 249);">Javascript</button>
                        <br><br>
                        <button class="usa-button usa-button--accent-cool"
                            style="background-color: rgb(155, 202, 240);color: rgb(55, 155, 249);">HTML</button>
                        <button class="usa-button usa-button--accent-cool"
                            style="background-color: rgb(155, 202, 240); color: rgb(55, 155, 249);">MongoDB</button>
                        <br><br>
                        <button class="usa-button usa-button--accent-cool" *ngIf="isAdmin" [routerLink]="['/updateproject']" routerLinkActive="router-link-active" style="background-color: rgb(155, 202, 240); color: rgb(55, 155, 249);">Edit</button><br>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    
</div>