<!-- <p>login works!</p> -->
<!-- <h3 class="site-preview-heading">BayGrape Login</h3> -->

<body>
    <ul class="usa-card-group">
        <li class="usa-card tablet:grid-col-6">
            <div class="usa-card__container">
                <div class="usa-card__header">
                    <h2 class="usa-card__heading">BayGrape Login</h2>
                </div>
                <div class="usa-card__body">
                    <p>
                        <label class="usa-label" for="input-type-text">Email ID</label>
                        <input class="usa-input" id="input-type-text" name="input-type-text" />
                        <label class="usa-label" for="input-type-text">Password</label>
                        <input class="usa-input" id="input-type-text" name="input-type-text" />
                    </p>
                </div>
                <div class="usa-card__footer">
                    <button type="button" class="usa-button" [routerLink]="['/home']" routerLinkActive="router-link-active" >Login</button>
                </div>
            </div>
        </li>
    </ul>
</body>