<header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
        <div class="usa-navbar">
            <div class="usa-logo" id="-logo">
                <img src="/assets/img/usa-icons-bg/baygrape.png">
            </div>
        </div>
        <nav aria-label="Primary navigation" class="usa-nav">
            <section aria-label="Search component">
                <form class="usa-search usa-search--small" role="search">
                    <label class="usa-sr-only" for="search-field">Search</label>
                    <input class="usa-input" id="search-field" type="search" name="search" />
                    <button class="usa-button" type="submit">
                        <img src="/assets/img/usa-icons-bg/search--white.png" class="usa-search__submit-icon"
                            alt="Search" />
                    </button>
                </form>
            </section>&nbsp;&nbsp;&nbsp;
            <ul class="usa-nav__primary usa-accordion" style="padding-left: 10px;">
                <a class="nav-link" href="#" id="navbar" aria-haspopup="true" aria-expanded="false">
                    <img src="/assets/img/usa-icons-bg/images.jpg" width="50" height="50" style="border-radius:50%"></a>
                <p style="padding-left: 3px;">John Due<br> Product Manager</p>
            </ul>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="" class="usa-button">LogOut</button>

        </nav>
    </div>
</header>
<div class="grid-row grid-gap">
    <div class="tablet:grid-col-1 margin-bottom-4 tablet:margin-bottom-0">
        <nav aria-label="Side navigation,">
            <ul class="usa-sidenav">
                <li class="usa-sidenav__item">
                    <a href="javascript:void(0);" class="usa-current"><img
                            src="/assets/img/usa-icons-bg/sprite.png" style="padding-left: 7px;"><br>Home</a>
                    <a href="javascript:void(0);"><img src="/assets/img/usa-icons-bg/time.jpg" style="padding-left: 7px;"><br>Tracker</a>
                </li>
                <li class="usa-sidenav__item">
                    <a href="javascript:void(0);"><img src="/assets/img/usa-icons-bg/user.jpg" style="padding-left: 5px;"><br>Team</a>
                    <a href="javascript:void(0);"><img src="/assets/img/usa-icons-bg/pproject.jpg" style="padding-left: 7px;">Project</a>
                    <a href="javascript:void(0);"><img src="/assets/img/usa-icons-bg/timesheet.jpg" style="padding-left: 9px;"><br>TimeSheet</a>
                    <a href="javascript:void(0);"><img src="/assets/img/usa-icons-bg/attendence.jpg" style="padding-left: 19px;"><br>Attendence</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="tablet:grid-col">
        <h3>Hello, Good Morning! <b style="color: blue;">John Doe</b></h3>
        <ul class="usa-card-group">
            <li class="usa-card tablet:grid-col-12" style="margin-bottom: 2.9%;">
                <div class="usa-card__container">
                    <div class="usa-card__header">
                        <h2 class="usa-card__heading">Daily Attendence
                            <button class="usa-button"
                                style="color: rgb(58, 58, 67); background-color:rgb(156, 220, 251); border-radius: 10%;">
                                View all</button>
                        </h2>
                    </div>
                    <div class="usa-card__body">
                        <hr style="color: black;"><br>
                        <p><b>Check In</b><b style="float: right;">Working</b><br>
                            <img src="/assets/img/usa-icons-bg/att.png" class="center">
                            <b>10:00 AM</b><b style="float: right;">00:00hrs</b><br><br>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="usa-card-group">
            <li class="usa-card tablet:grid-col-12" style="margin-bottom: -5%;">
                <div class="usa-card__container">
                    <div class="usa-card__header">
                        <h2 class="usa-card__heading">Members
                            <button class="usa-button usa-button--accent-cool"
                                style="background-color: rgb(143, 240, 143);">View all</button>
                        </h2>
                    </div>
                    <div class="usa-card__body">
                        <hr style="color: black;">
                        <div class="usa-table-container--scrollable" tabindex="0">
                            <table class="usa-table usa-table--borderless">
                                <thead style="background-color: rgb(143, 240, 143);">
                                    <tr>
                                        <th data-sortable scope="col" role="columnheader">Name</th>
                                        <th data-sortable scope="col" role="columnheader">Designation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Ab Lorem Ippsum </th>
                                        <td>Product manger</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dummy Text</th>
                                        <td>Java Developer</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Lorem Ippsum</th>
                                        <td>SEO Specialist</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Ab Lorem Ippsum </th>
                                        <td>Product manger</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dummy Text</th>
                                        <td>Java Developer</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Lorem Ippsum</th>
                                        <td>SEO Specialist</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="usa-sr-only usa-table__announcement-region" aria-live="polite"></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul><br><br>
        <ul class="usa-card-group">
            <li class="usa-card tablet:grid-col-12">
                <div class="usa-card__container">
                    <div class="usa-card__header">
                        <h2 class="usa-card__heading">My Project Dashboard
                            <button class="usa-button" style="background-color: rgb(126, 250, 236); color: black;">
                                Project </button>
                            <button class="usa-button" style="background-color: rgb(126, 250, 236); color: black;">
                                Sort</button>
                        </h2>
                    </div>
                    <div class="usa-card__body">
                        <hr style="color: black;">
                        <div style="max-width: fit-content">
                            <div class="grid-row">
                                <div class="tablet:grid-col">
                                    <button type="" class="usa-button usa-button--outline "
                                        style="border-radius: 48%; margin: 45px;">
                                        <h1>020</h1>
                                    </button>
                                    <p style="text-align: center;">
                                        Total Taskes
                                    </p>
                                </div>
                                <div class="tablet:grid-col">
                                    <button type="" class="usa-button usa-button--outline "
                                        style="border-radius: 48%; margin: 45px;">
                                        <h1>200</h1>
                                    </button>
                                    <p style="text-align: center;">
                                        Total Hrs/ Projects
                                    </p>
                                </div>
                                <div class="tablet:grid-col">
                                    <button type="" class="usa-button usa-button--outline "
                                        style="border-radius: 48%; margin: 45px;">
                                        <h1>010</h1>
                                    </button>
                                    <p style="text-align: center;">
                                        Avg Hrs/Taskes
                                    </p>
                                </div>
                            </div><br>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="tablet:grid-col-6">
        <br><br><br>
        <ul class="usa-card-group">
            <li class="usa-card tablet:grid-col" style="margin-bottom: 1%;">
                <div class="usa-card__container">
                    <div class="usa-card__header">
                        <h2 class="usa-card__heading">Overview
                            <button class="usa-button">view all</button>
                        </h2>
                    </div>
                    <div class="usa-card__body">
                        <hr style="color: black;">
                        <br>
                        <div class="tablet:grid-col-12 margin-bottom-4 tablet:margin-bottom-0">
                            <ul class="usa-card-group">
                                <li class="usa-card tablet:grid-col-4">
                                    <div class="usa-card__container">
                                        <div class="usa-card__body" style="background-color: rgb(56, 71, 233);">
                                            <p style="color: white;">Total Members<br>35</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="usa-card tablet:grid-col-4">
                                    <div class="usa-card__container">
                                        <div class="usa-card__body" style="background-color: rgb(46, 124, 184);">
                                            <p style="color: white;">Total Clients<br>15</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="usa-card tablet:grid-col-4">
                                    <div class="usa-card__container">
                                        <div class="usa-card__body" style="background-color: rgb(70, 165, 238);">
                                            <p style="color: white;">Total Projects<br>20 </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="usa-card-group">
            <li class="usa-card tablet:grid-col" style="margin-bottom: -1.7%;">
                <div class="usa-card__container">
                    <div class="usa-card__header">
                        <h2 class="usa-card__heading">Projects In House
                            <button class="usa-button" style="background-color: rgb(126, 250, 236); color: black;">View
                                all</button>
                        </h2>
                    </div>
                    <div class="usa-card__body">
                        <hr style="color: black;">
                        <div class="usa-table-container--scrollable" tabindex="0">
                            <table class="usa-table usa-table--borderless">
                                <thead style="background-color: rgb(126, 250, 236);">
                                    <tr>
                                        <th data-sortable scope="col" role="columnheader">Client</th>
                                        <th data-sortable scope="col" role="columnheader">Project</th>
                                        <th data-sortable scope="col" role="columnheader">Total Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Ab Lorem Ippsum </th>
                                        <td>Project handled by Lorem Ippsum</td>
                                        <td>240</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Lorem Ippsum</th>
                                        <td>Project handled by Lorem Ippsum</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dummy Text</th>
                                        <td>Project handled by Java Developers</td>
                                        <td>220</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dummy Text</th>
                                        <td>Project handled by Java Developers</td>
                                        <td>220</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Ab Lorem Ippsum </th>
                                        <td>Project handled by Lorem Ippsum</td>
                                        <td>240</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Lorem Ippsum</th>
                                        <td>Project handled by Java Developers</td>
                                        <td>220</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="usa-sr-only usa-table__announcement-region" aria-live="polite"></div>
                        </div>
                    </div>

                </div>
            </li>
        </ul><br>
        <ul class="usa-card-group">
            <li class="usa-card tablet:grid-col">
                <div class="usa-card__container">
                    <div class="usa-card__header">
                        <h2 class="usa-card__heading">My Project Dashboard
                            <button class="usa-button" style="background-color: rgb(144, 146, 146); color: black;">
                                Project </button>
                            <button class="usa-button" style="background-color: rgb(144, 146, 146); color: black;">
                                Sort</button>
                        </h2>
                    </div>
                    <div class="usa-card__body">
                        <hr style="color: black;">
                        <div style="max-width: fit-content">
                            <div class="grid-row">
                                <div class="tablet:grid-col">
                                    <button type="" class="usa-button usa-button--outline "
                                        style="border-radius: 50%; margin: 55px;">
                                        <h1>400</h1>
                                    </button>
                                    <p style="text-align: center;">
                                        Total Taskes
                                    </p>
                                </div>
                                
                                <div class="tablet:grid-col">
                                    <button type="" class="usa-button usa-button--outline "
                                        style="border-radius: 50%; margin: 55px; ">
                                        <h1>200</h1>
                                    </button>
                                    <p style="text-align: center;">
                                        Total Hrs/ Projects
                                    </p>
                                </div>
                                <div class="tablet:grid-col">
                                    <button type="" class="usa-button usa-button--outline "
                                        style="border-radius: 47%; margin: 55px;">
                                        <h1>025</h1>
                                    </button>
                                    <p style="text-align: center;">
                                        Avg Hrs/Taskes
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>