<div class="grid-row grid-gap">
    <div class="tablet:grid-col-8  margin-bottom-4 tablet:margin-bottom-0">
        <div class="grid-row grid-gap">
            <div class="tablet:grid-col-4  margin-bottom-4 tablet:margin-bottom-0">
                <h3>Team <b style="color: blue;">BayGrape</b></h3>
                <ul class="usa-card-group">
                    <li class="usa-card tablet:grid-col-12">
                        <div class="usa-card__container">
                            <br>
                            <img src="/assets/img/usa-icons-bg/shivkumar.jpg" width="50%;" height="102px"
                                style="border-radius: 55%;" class="center">
                            <p class="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shiv Kumar<br>Project Manager</p>
                            <hr>
                            <p class="center"> <i class="fa fa-envelope fa-2xl"></i> &nbsp; <button type=""
                                    class="usa-button usa-button--outline"
                                    style="background-color: rgb(178, 200, 250);">View
                                    Info</button></p>
                        </div>
                    </li>
                    <br>
                    <li class="usa-card tablet:grid-col-12">
                        <div class="usa-card__container">
                            <br>
                            <img src="/assets/img/usa-icons-bg/smrithk.jpg" width="50%;" height="100px"
                                style="border-radius: 55%;" class="center">
                            <p class="center">&nbsp;&nbsp;&nbsp;&nbsp;Smrith K<br>Java Developer</p>
                            <hr>
                            <p class="center"> <i class="fa fa-envelope fa-2xl"></i> &nbsp; <button type=""
                                    class="usa-button usa-button--outline"
                                    style="background-color: rgb(178, 200, 250);">View
                                    Info</button></p>
                        </div>
                    </li>
                    <br>
                    <li class="usa-card tablet:grid-col-12">
                        <div class="usa-card__container">
                            <br>
                            <img src="/assets/img/usa-icons-bg/shivkumar.jpg" width="50%;" height="102px"
                                style="border-radius: 55%;" class="center">
                            <p class="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shiv Kumar<br>Project Manager</p>
                            <hr>
                            <p class="center"> <i class="fa fa-envelope fa-2xl"></i> &nbsp; <button type=""
                                    class="usa-button usa-button--outline"
                                    style="background-color: rgb(178, 200, 250);">View
                                    Info</button></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tablet:grid-col-4  margin-bottom-4 tablet:margin-bottom-0">
                <button class="usa-button" type="submit" *ngIf="isAdmin" [routerLink]="['/addmember']"
                    routerLinkActive="router-link-active"> + Add Member</button><br><br>
                <ul class="usa-card-group">
                    <li class="usa-card tablet:grid-col-12">
                        <div class="usa-card__container">
                            <br>
                            <img src="/assets/img/usa-icons-bg/deepak.jpg" width="50%;" height="100px"
                                style="border-radius: 55%;" class="center">
                            <p class="center">&nbsp;&nbsp;&nbsp;&nbsp;Deepak Jim<br>Scrum Master</p>
                            <hr>
                            <p class="center"> <i class="fa fa-envelope fa-2xl"></i> &nbsp; <button type=""
                                    class="usa-button usa-button--outline"
                                    style="background-color: rgb(178, 200, 250);">View
                                    Info</button></p>
                        </div>
                    </li>
                    <br>
                    <li class="usa-card tablet:grid-col-12">
                        <div class="usa-card__container">
                            <br>
                            <img src="/assets/img/usa-icons-bg/shivkumar.jpg" width="50%;" height="102px;"
                                style="border-radius: 55%;" class="center">
                            <p class="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shiv Kumar<br>Project Manager</p>
                            <hr>
                            <p class="center"> <i class="fa fa-envelope fa-2xl"></i> &nbsp; <button type=""
                                    class="usa-button usa-button--outline"
                                    style="background-color: rgb(178, 200, 250);">View
                                    Info</button></p>
                        </div>
                    </li><br>
                    <li class="usa-card tablet:grid-col-12">
                        <div class="usa-card__container">
                            <br>
                            <img src="/assets/img/usa-icons-bg/deepak.jpg" width="50%;" height="100px"
                                style="border-radius: 55%;" class="center">
                            <p class="center">&nbsp;&nbsp;&nbsp;&nbsp;Deepak Jim<br>Scrum Master</p>
                            <hr>
                            <p class="center"> <i class="fa fa-envelope fa-2xl"></i> &nbsp; <button type=""
                                    class="usa-button usa-button--outline"
                                    style="background-color: rgb(178, 200, 250);">View
                                    Info</button></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tablet:grid-col-4  margin-bottom-4 tablet:margin-bottom-0">
                <button class="usa-button usa-button--outline" [routerLink]="['/removemember']"
                    routerLinkActive="router-link-active" type="submit" style="background-color: white; color:red;"
                    *ngIf="isAdmin"> - Remove Member</button><br><br>
                <ul class="usa-card-group">
                    <li class="usa-card tablet:grid-col-12">
                        <div class="usa-card__container">
                            <br>
                            <img src="/assets/img/usa-icons-bg/smrithk.jpg" width="50%;" height="100px"
                                style="border-radius: 55%;" class="center">
                            <p class="center">&nbsp;&nbsp;&nbsp;&nbsp;Smrith K<br>Java Developer</p>
                            <hr>
                            <p class="center"> <i class="fa fa-envelope fa-2xl"></i> &nbsp; <button type=""
                                    class="usa-button usa-button--outline"
                                    style="background-color: rgb(178, 200, 250);">View
                                    Info</button></p>
                        </div>
                    </li><br>
                    <li class="usa-card tablet:grid-col-12">
                        <div class="usa-card__container">
                            <br>
                            <img src="/assets/img/usa-icons-bg/deepak.jpg" width="50%;" height="100px"
                                style="border-radius: 55%;" class="center">
                            <p class="center">&nbsp;&nbsp;&nbsp;&nbsp;Deepak Jim<br>Scrum Master</p>
                            <hr>
                            <p class="center"> <i class="fa fa-envelope fa-2xl"></i> &nbsp; <button type=""
                                    class="usa-button usa-button--outline"
                                    style="background-color: rgb(178, 200, 250);">View
                                    Info</button></p>
                        </div>
                    </li><br>
                    <li class="usa-card tablet:grid-col-12">
                        <div class="usa-card__container">
                            <br>
                            <img src="/assets/img/usa-icons-bg/smrithk.jpg" width="50%;" height="100px"
                                style="border-radius: 55%;" class="center">
                            <p class="center">&nbsp;&nbsp;&nbsp;&nbsp;Smrith K<br>Java Developer</p>
                            <hr>
                            <p class="center"> <i class="fa fa-envelope fa-2xl"></i> &nbsp; <button type=""
                                    class="usa-button usa-button--outline"
                                    style="background-color: rgb(178, 200, 250);">View
                                    Info</button></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>



    <div class="tablet:grid-col-4  margin-bottom-4 tablet:margin-bottom-0" style="float: right;">
        <section aria-label="Search component">
            <form class="usa-search usa-search--small" role="search">
                <label class="usa-sr-only" for="search-field">Search</label>
                <input class="usa-input" id="search-field" type="search" name="search" />
                <button class="usa-button" type="submit">
                    <img src="/assets/img/usa-icons-bg/search--white.png" class="usa-search__submit-icon"
                        alt="Search" />
                </button>
            </form>
        </section><br>
        <ul class="usa-card-group">
            <li class="usa-card tablet:grid-col-12">
                <div class="usa-card__container">
                    <div class="usa-card__header">
                        <h2 class="usa-card__heading">Shiv Kumar</h2>
                        <p>Project Manager <i class="fa fa-linkedin" style="float: right;"></i></p>
                        <hr>
                    </div>
                    <div class="usa-card__media">
                        <div class="usa-card__img">
                            <img src="/assets/img/usa-icons-bg/shivkumar.jpg" alt="A placeholder image" />
                        </div>
                    </div>
                    <div class="usa-card__body">
                        <h3>Current Project(s)</h3>
                        <button class="usa-button usa-button--accent-cool"
                            style="background-color: rgb(192, 246, 192); color: rgb(43, 246, 43);">DoroNow</button>
                        <button class="usa-button usa-button--accent-cool"
                            style="background-color: rgb(192, 246, 192); color: rgb(43, 246, 43);">Tracking</button>
                        <br>
                        <h3>Previous Project(s)</h3>
                        <button class="usa-button usa-button--accent-cool"
                            style="background-color: rgb(176, 177, 176); color: rgb(121, 123, 121);">BayGrape</button>
                        <button class="usa-button usa-button--accent-cool"
                            style="background-color: rgb(176, 177, 176); color: rgb(121, 123, 121);">BayPay</button>
                        <hr>
                        <h4>Date of Joining</h4>
                        16 May 2020
                        <h4>Date of Birth</h4>
                        19 June
                        <hr>
                        <h3>Skills</h3>
                        <button class="usa-button usa-button--accent-cool"
                            style="background-color: rgb(155, 202, 240); color: rgb(55, 155, 249);">React.JS</button>
                        <button class="usa-button usa-button--accent-cool"
                            style="background-color: rgb(155, 202, 240);color: rgb(55, 155, 249);">Javascript</button>
                        <br><br>
                        <button class="usa-button usa-button--accent-cool"
                            style="background-color: rgb(155, 202, 240);color: rgb(55, 155, 249);">UX/UI</button>
                        <button class="usa-button usa-button--accent-cool"
                            style="background-color: rgb(155, 202, 240); color: rgb(55, 155, 249);">.Net</button>
                        <br>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>