<nav aria-label="Side navigation,">
    <ul class="usa-sidenav">
        <li class="usa-sidenav__item">
            <a href="javascript:void(0);" [routerLink]="['/home']" routerLinkActive="usa-current" > <img
                    src="/assets/img/usa-icons-bg/sprite.png" style="padding-left: 7px;"><br>Home</a>
            <a href="javascript:void(0);"><img src="/assets/img/usa-icons-bg/time.jpg" style="padding-left: 7px;"><br>Tracker</a>
        </li>
        <li class="usa-sidenav__item">
            <a href="javascript:void(0);" [routerLink]="['/team']" routerLinkActive="usa-current"><img src="/assets/img/usa-icons-bg/user.jpg" style="padding-left: 5px;"><br>Team</a>
            <a href="javascript:void(0);" [routerLink]="['/project']" routerLinkActive="usa-current"><img src="/assets/img/usa-icons-bg/pproject.jpg" style="padding-left: 7px;">Project</a>
            <a href="javascript:void(0);" [routerLink]="['/timesheet']" routerLinkActive="usa-current"><img src="/assets/img/usa-icons-bg/timesheet.jpg" style="padding-left: 9px;"><br>TimeSheet</a>
            <a href="javascript:void(0);" [routerLink]="['/attendance']" routerLinkActive="usa-current" ><img src="/assets/img/usa-icons-bg/attendence.jpg" style="padding-left: 19px;"><br>Attendence</a>
        </li>
    </ul>
</nav>